ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  flex: 1;
  display: block;
  padding: 20px;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

img {
  border-radius: 50%;
}

strong {
  margin-bottom: 10px;
  display: block;
}
